body{
    padding: 0%;
    margin: 0%;
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation:bgColor 10s linear infinite;
}
.bgPulse{
    width: 100%;
    height: 100%;

}
.bgPulse span{
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
   
}
 
.bgPulse b{
    width: 10%;
    margin-left:20%;
    top:80%;
}

.bgPulse span:nth-child(1){
    top: 50%;
    left: 20%;
    animation:animate 10s linear infinite;
}
.bgPulse span:nth-child(3n+1){
    background: transparent;
    border: 5px solid #fff;
    animation:animate 12s linear infinite;
}
.bgPulse span:nth-child(2){
    top: 80%;
    left: 40%;
    animation:animate 15s linear infinite;
}
.bgPulse span:nth-child(3){
    top: 10%;
    left: 65%;
    animation:animate 5s linear infinite;
}
.bgPulse span:nth-child(4){
    top: 50%;
    left: 70%;
    animation:animate 18s linear infinite;
}
.bgPulse span:nth-child(5){
    top: 10%;
    left: 10%;
    animation:animate 8s linear infinite;
}
.bgPulse span:nth-child(6){
    top: 90%;
    left: 95%;
    animation:animate 3s linear infinite;
}
.bgPulse span:nth-child(7){
    top: 90%;
    left: 5%;
    animation:animate 10s linear infinite;
}
.bgPulse span:nth-child(8){
    top: 30%;
    left: 50%;
   
    animation:animate 6s linear infinite;
}
.bgPulse span:nth-child(9){
    top: 20%;
    left: 40%;
    animation:animate 8s linear infinite;
}
.bgPulse b:nth-child(16){
    top: 10%;
    left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(223, 193, 193);
    font-size: 20px;
    text-align: center;
    animation:animate 10s linear infinite;
}
.bgPulse span:nth-child(10){
    top: 30%;
    left: 15%;
    background-image: url("profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    animation:animate 10s linear infinite;
}

.bgPulse span:nth-child(12){
    top: 80%;
    left: 80%;
    animation:animate 12s linear infinite;
}
.bgPulse span:nth-child(13){
    top: 50%;
    left: 5%;
    animation:animate 14s linear infinite;
}
.bgPulse span:nth-child(14){
    top: 20%;
    left: 85%;
    animation:animate 4s linear infinite;
}
.bgPulse span:nth-child(15){
    top: 20%;
    left: 30%;
    animation:animate 9s linear infinite;
}
.bgPulse span:nth-child(11){
    top: 20%;
    left: 30%;
    animation:animate 13s linear infinite;
}
ul{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
    margin: 0%;
    padding: 0%;
    display: flex;
}
ul li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 15px;
    color: #fff;
    text-shadow: none;
    animation:anima 1s infinite linear;
}
ul li:nth-child(1){
    animation-delay: .2s;
}
ul li:nth-child(2){
    animation-delay: .4s;
}
ul li:nth-child(3){
    animation-delay: .6s;
}
ul li:nth-child(4){
    animation-delay: .8s;
}
ul li:nth-child(5){
    animation-delay: 1s;
}
ul li:nth-child(6){
    animation-delay: 1.2s;
}
ul li:nth-child(7){
    animation-delay: 1.4s;
}
@keyframes anima{
    0%{
        color: aqua;
        text-shadow: none;
    }
    20%{
        color: rgb(195, 226, 59);
        text-shadow: none;
    }
    25%{
        color: rgb(148, 38, 175);
        text-shadow: 0 0 7px #fff000;
    }
    55%{
        color: rgb(59, 175, 230);
        text-shadow: 0 0 7px #fff000;
    }
    75%{
        color: rgb(148, 38, 175);
        text-shadow: 0 0 7px #fff000;
    }
    100%{
        color: rgb(47, 192, 236);
        text-shadow: 0 0 7px #fff000;
    }
}
@keyframes animate {
    0%{
        transform: scale(0) translate(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: scale() translate(-100px)rotate(360deg);
        opacity: 0;
    }
}
@keyframes bgColor{
    0%{
        background-color: #1a1616;
    }
    25%{
        background-color: rgb(12, 12, 11);
    }
    50%{
        background-color: rgb(21, 17, 22);
    }
    75%{
        background-color: #0c160c;
    }
    100%{
        background-color: rgb(37, 15, 13);
    }
}